md-dialog
  md-dialog-content(class="md-dialog-content")
    md-dialog-actions
      md-button(
        ng-click="showNotificationCtrl.hide('success')"
        class="md-primary"
        aria-label="view"
        md-autofocus="true"
        translate="button-view"
      )
