div(
  ng-model="fileCnrCtrl.file"
  ng-change="fileCnrCtrl.upload()"
  ngf-select
  ngf-drop
  class="dashed-border"
  layout="column"
  layout-align="center center"
)
  div(translate="{{'layer-' + fileCnrCtrl.layer}}")
  div(ng-if="!fileCnrCtrl.file" layout="column" layout-align="center center" layout-margin layout-padding)
    div(translate="div-select-files")
    div(translate="div-drop-files")
  div(ng-if="fileCnrCtrl.file" layout="column")
    div(ng-if="fileCnrCtrl.remove" layout="column" layout-align="center center")
      div(translate="div-selected-files")
      div(translate="div-remove-files")
    div(layout="column" layout-align="center center")
      ivo-file(name="fileCnrCtrl.fileName()" ng-click="fileCnrCtrl.action($event)")
