div(hide-sm layout="{{stateSwitcherCtrl.lay}}" layout-align="center center")
  md-button(
    ng-repeat="state in stateSwitcherCtrl.states"
    ng-click="stateSwitcherCtrl.switchState(state)"
    class="md-primary"
    ng-class="stateSwitcherCtrl.selected[$index] ? 'md-raised' : ''"
    aria-label="state"
    translate!="{{'button-' + state}}"
  )
div(show-sm hide layout="column")
  md-menu
    md-button(md-menu-origin ng-click="$mdOpenMenu($event)" aria-label="{{stateSwitcherCtrl.menu}}" class="md-warn" translate!="{{'button-menu-' + stateSwitcherCtrl.menu}}")
    md-menu-content
      md-menu-item(ng-repeat="state in stateSwitcherCtrl.states")
        md-button(md-menu-align-target ng-click="stateSwitcherCtrl.switchState(state)" class="md-primary" aria-label="state" translate!="{{'button-' + state}}")
