div(layout="column" layout-wrap)
  ivo-text-field(
    ng-repeat="t in orderTextCtrl.text track by $index"
    label="orderTextCtrl.label"
    text="orderTextCtrl.text[$index]"
    index="$index"
    texts="orderTextCtrl.text"
    disabled="orderTextCtrl.disabled"
  )
