div(layout="column" layout-align="center stretch" layout-fill flex="auto")
  ivst-text-field(
    ng-repeat="t in orderTextCtrl.text track by $index"
    label="orderTextCtrl.label"
    text="orderTextCtrl.text[$index]"
    index="$index"
    texts="orderTextCtrl.text"
    disabled="orderTextCtrl.disabled"
    flex="grow"
  )