div(layout="column" layout-align="center center" layout-wrap)
  canvas(
    class="chart chart-line"
    chart-data="chart.data"
    chart-labels="chart.labels"
    chart-legend="true"
    chart-series="chart.series"
    width="{{width}}"
    height="{{height}}"
  )
