md-dialog
    md-dialog-content(class="md-dialog-content")
        p(translate="p-paing-with-stripe")
        p {{payWithStripeCtrl.id}}
        p Coming Soonishs
        md-dialog-actions
            md-button(
                ng-click="payWithStripeCtrl.hide('back')"
                class="md-warn"
                aria-label="back"
                translate="button-back"
            )
            md-button(
                ng-click="payWithStripeCtrl.hide('pay')"
                class="md-primary"
                aria-label="pay"
                md-autofocus="true"
                translate="button-pay"
            )
