div(layout="column" layout-wrap)
  ivst-toolbar(ready="!homeCtrl.notFound" layout-wrap)
  div(layout="column" layout-align="space-between strech" layout-wrap)
    ivst-state-switcher(
      ng-hide="homeCtrl.admin || homeCtrl.notFound"
      state="home"
      menu="menu"
      override="{order: 'configuration', settings: 'profile'}"
      remove="['admin', 'notfound']"
    )
    ui-view(layout="column" layout-margin layout-padding layout-wrap) 
