div(layout="column" layout-wrap)
  ivo-toolbar(ready="true" layout-wrap)
  div(layout="column" layout-align="space-between strech" layout-wrap)
    ivo-state-switcher(
      ng-if="!homeCtrl.admin"
      state="home"
      menu="menu"
      override="{order: 'configuration', settings: 'profile'}"
      remove="['admin']"
    )
    ui-view(layout="column" layout-margin layout-padding layout-wrap) 
