div(layout="column" layout-align="space-between strech" layout-wrap)
  md-toolbar(
    layout="row"
    layout-align="space-around strech"
    layout-xs="column"
    layout-align-xs="start strech"
    layout-sm="column"
    layout-align-sm="start strech"
    layout-wrap
  )
    div(layout="row" layout-align="center center")
      h1(translate="firm-name")
      md-button(class="md-raised md-warn" aria-label="logo" translate="web-page")
    div(layout="row" layout-align="space-around center" layout-xs="column" layout-align-xs="start strech")
      ivo-translate
      ivo-user
  div(layout="column" layout-align="space-between strech" layout-wrap)
    ivo-state-switcher(
      state="home"
      menu="menu"
      override="{'order': 'order.configuration', 'settings': 'settings.profile'}"
      remove="['admin']"
    )
    ui-view(layout="column" layout-margin layout-padding layout-wrap) 
