div(layout="row" layout-align="center stretch" layout-wrap)
  div(layout="column" layout-wrap flex="auto")
    div(ng-repeat="user in usersCtrl.listOfUsers" layout="row" flex="auto")
      span(
        ng-click="usersCtrl.changeAccess($event, user)"
        ng-class="user.admin ? 'md-warn' : 'md-primary'"
        class="md-button fake-button"
        flex="50"
      ) {{user.email}}
      span(
        ng-click="usersCtrl.removeUser($event, user)"
        class="md-button md-warn md-raised"
        translate="button-delete"
        flex="50"
      )
