div(layout="row" layout-align="center center" layout-fill flex="auto")
  ivst-order-text(
      ng-repeat="layer in ['top', 'bottom']"
      ng-if="(order.files && order.files[layer]) || (order[layer] | isntEmpty)"
      text="order[layer].text"
      label="'label-text-' + layer"
      disabled="order.disabled"
  )
