form(name="profile" novalidate layout="column")
  div(layout="column" layout-align="start center")
    md-input-container(md-is-error="profile.email.$error | isntEmpty")
      label(translate="label-new-email")
      input(ng-model="profileCtrl.user.email" name="email" type="email" ivo-email-taken required)
      div(ng-messages="profile.email.$error")
        div(ng-message="email")
          span(translate="error-email-email")
        div(ng-message="email-taken")
          span(translate="error-email-taken")
        div(ng-message="required")
          span(translate="error-email-required")
    md-button(
      ng-click="profileCtrl.change($event, 'email', profile.email.$valid)"
      class="md-warn"
      aria-label="change email"
      translate="button-change-email"
    )
  div(layout="column" layout-align="start center")
    md-input-container(md-is-error="profile.password.$error | isntEmpty")
      label(translate="label-new-password")
      input(ng-model="profileCtrl.user.password" name="password" type="password" ng-minlength="6" ng-maxlength="35" required)
      div(ng-messages="profile.password.$error")
        div(ng-message="minlength")
          span(translate="error-password-minlength")
        div(ng-message="maxlength")
          span(translate="error-password-maxlength")
        div(ng-message="required")
          span(translate="error-password-required")
    md-button(
      ng-click="profileCtrl.change($event, 'password', profile.password.$valid)"
      class="md-warn"
      aria-label="change password"
      translate="button-change-password"
    )
  div(layout="column" layout-align="start center")
    md-button(
      ng-click="profileCtrl.remove($event)"
      class="md-warn md-raised"
      aria-label="delete account"
      translate="button-remove-account"
    )
