div(layout="row" layout-wrap layout-align="center center")
  ivst-stencil-preview(
    ng-if="order.top.view"
    text="order.top.text"
    view="order.top.view"
    controller="controller"
  )
  ivst-stencil-preview(
    ng-if="order.bottom.view"
    text="order.bottom.text"
    view="order.bottom.view"
    controller="controller"
  )
