div(ng-repeat="order in scopeCtrl.listOfOrders" layout="row" flex="auto")
  span(
    ng-repeat="(key, value) in scopeCtrl.labels"
    ng-click="key === '_id' ? scopeCtrl.choose($event, order) : null"
    flex="{{value}}"
    ng-class="key === '_id' ? 'md-primary' : 'md-warn fake-button'"
    class="md-button"
    translate="{{order[key]}}"
  )
