div(layout="column" layout-align="center stretch" layout-wrap)
  md-tabs(md-selected="0" md-dynamic-height="true" md-center-tabs)
    md-tab
      md-tab-label
        span(translate="label-orders")
      md-tab-body
        div(layout="column" layout-align="center center")
          md-input-container
            label(translate="label-filter")
            input(ng-model="ordersCtrl.filter")
          div(layout="row" layout-align="center center")
            md-datepicker(ng-repeat="wich in ['from', 'to']" ng-model="ordersCtrl[wich + 'Date']" ng-change="ordersCtrl.compareableDate(wich)")
        div(layout="row" layout-align="center stretch" layout-wrap)
          md-content(layout="column" flex="auto" layout-wrap)
            md-divider
            div(layout="row" flex="auto")
              span(ng-repeat="(key, value) in ordersCtrl.labels" flex="{{value}}" ng-class="key === '_id' ? 'md-primary' : 'md-warn'" class="md-button fake-button" translate="{{'label-' + key}}")
              span(flex="15" class="md-button md-primary fake-button" translate="label-action")
            md-divider
            div(ng-repeat="order in ordersCtrl.listOfOrders" layout="column" flex="auto")
              div(ng-mouseover="ordersCtrl.removeNotifcation(order)" layout="row" flex="auto")
                span(
                    ng-repeat="(key, value) in ordersCtrl.labels"
                    ng-click="key === '_id' ? ordersCtrl.choose($event, order) : null"
                    flex="{{value}}"
                    ng-class="[(key === '_id' ? 'md-primary' : 'md-warn fake-button'), (order.notify ? 'md-raised': '')]"
                    class="md-button"
                    translate="{{order[key]}}"
                )
                span(
                    flex="15"
                    class="md-button md-raised"
                    ng-click="ordersCtrl.doAction($event, order)"
                    ng-if="ordersCtrl.adminPanel || ordersCtrl.helpStatus(order)"
                    ng-class="ordersCtrl.adminPanel || order.status === 'rejected' ? 'md-warn' : 'md-primary'"
                    translate="{{'button-' + (ordersCtrl.adminPanel ? 'update' : (order.status === 'accepted' ? 'pay' : 'delete'))}}"
                )
                span(flex="15" disabled="true" class="md-button fake-button" ng-if="!ordersCtrl.adminPanel && !ordersCtrl.helpStatus(order)")
              md-divider
        div(layout="column" layout-align="center center" layout-wrap)
          md-button( ng-if="ordersCtrl.showing" ng-click="ordersCtrl.showAll()" class="md-primary" aria-label="show all" translate="button-show-all")
          ivst-view-order(ng-if="order" order="order" controller="'order'")
    ivst-include(include="ordersCtrl.adminPanel" controller="'ordersCtrl'" template="true")