md-dialog-actions
  md-button(
    ng-click="scopeCtrl.hide('close')"
    class="md-warn"
    aria-label="close"
    translate="button-close"
  )
div(layout="column")
  md-input-container
    label(translate="label-status")
    md-select(ng-model="scopeCtrl.status")
      md-option(
        ng-repeat="status in scopeCtrl.statusOptions"
        ng-value="status" 
        translate="{{'option-' + status}}"
      )
  md-input-container
    label(translate="label-price")
    input(ng-model="scopeCtrl.price" type="number")
  md-input-container
    label(translate="label-user-language")
    input(
      ng-model="scopeCtrl.language"
      disabled="true"
      translate="{{'option-language-' + scopeCtrl.language}}"
    ) 
