md-dialog
  md-dialog-content(class="md-dialog-content")
    md-dialog-actions(layout="row" layout-sm="column" layout-align="center center")
      md-button(
        ng-click="statisticsCtrl.hide('success')"
        class="md-warn"
        aria-label="close"
        md-autofocus="true"
        translate="button-close"
      )
    md-content(layout="column" layout-wrap)
      canvas(
        class="chart chart-line"
        chart-data="statisticsCtrl.data"
        chart-labels="statisticsCtrl.labels"
        chart-legend="true"
        chart-series="statisticsCtrl.series"  
      )
