div(layout="column" layout-align="center center" layout-fill)
  div(layout="row" layout-align="center center" layout-wrap)
    md-button(ng-click="configCtrl.reset()" class="md-primary" aria-label="new" translate="button-new-configuration")
    div(layout="row" layout-align="center center" layout-fill)
      md-input-container(flex="auto")
        label(translate="choose-configuration")
        md-select(ng-model="configCtrl.config" ng-change="configCtrl.choose()")
          md-option(ng-repeat="config in configCtrl.configs" ng-value="$index") {{config.name}}
      div(ng-if="configCtrl.settings" layout="row" layout-align="center center")
        md-button(ng-click="configCtrl.edit()" class="md-primary" aria-label="edit" translate="button-edit")
        md-button(ng-click="configCtrl.delete($event)" class="md-warn" aria-label="delete" translate="button-delete")
  div(ng-if="configCtrl.configuration" layout="column" layout-align="center center" layout-wrap)
    ivo-stencil-preview(text="configCtrl.text" view="configCtrl.view" controller="configCtrl.controller")
    ivo-config-info(controller="configCtrl.controller")
    div(layout="column")
      md-button(
        ng-if="configCtrl.settings && configCtrl.action !== 'preview'"
        ng-click="configCtrl.doAction($event)"
        class="md-primary"
        aria-label="configCtrl.action"
        translate="{{configCtrl.action + '-configuration'}}"
      )
      div(ng-if="!configCtrl.settings" layout="column" layout-align="end end" layout-wrap)
        md-checkbox(ng-if="configCtrl.action === 'create'" ng-model="configCtrl.saveIt" ng-init="configCtrl.saveIt=true" class="md-primary" aria-label="save")
          p(translate="checkbox-save-configuration") 
        md-button(ng-click="configCtrl.next($event)" class="md-primary" aria-label="next" translate="button-next")
