form(name="upload" novalidate layout="column" layout-align="space-between strech" layout-margin layout-wrap)  
  ivo-order-preview(order="specificCtrl", controller="'orderCtrl'")
  div(
    ng-model="specificCtrl.files"
    ng-change="specificCtrl.upload(upload.files.$error)"
    name="files"
    ngf-select
    ngf-drop
    ngf-multiple="true"
    ngf-keep="'distinct'"
    ngf-max-files="12"
    ngf-max-total-size="'1KB'"
    ngf-pattern="'.pho,!.drl'"
    layout="column"
    layout-align="center center"
    )
    ivo-files(files="specificCtrl.files" remove="true")
  ivo-order-texts(order="specificCtrl")  
  div(layout="row" layout-align="center center")
    md-button(ng-click="specificCtrl.back()" class="md-warn" aria-label="back" translate="button-back")
    md-button(ng-click="specificCtrl.next()" class="md-primary" aria-label="next" translate="button-next")
