div(layout="column" layout-align="center center" layout-wrap)  
  div(layout="column" layout-align="center center" layout-wrap)
    ivo-order-preview(directiveCtrl="specificCtrl", controller="'orderCtrl'")
    div(
      ng-model="specificCtrl.files"
      ngf-select
      ngf-drop
      ngf-multiple="true"
      ngf-keep="'distinct'"
      class="dashed-border"
      layout="column"
      layout-align="space-between center"
      layout-margin
      layout-wrap
    )
      div(translate="div-select-files")
      div(translate="div-drop-files")
      div(ng-if="specificCtrl.files.length === 0" layout="column" layout-align="space-between center" layout-wrap)
        div(translate="div-supported-formats")
        div(translate="div-file-number")
        div(translate="div-file-size")
      div(ng-if="specificCtrl.files.length > 0" layout="column" layout-margin)
        div(layout="column" layout-align="center center")
          div(translate="div-selected-files")
          div(translate="div-remove-files")
        ivo-files(files="specificCtrl.files" remove="true")
    md-button(ng-click="specificCtrl.upload()" class="md-primary") View
    ivo-order-text(directiveCtrl="specificCtrl")  
    div(layout="row" layout-align="end end")
      md-button(ng-click="specificCtrl.back()" class="md-primary" aria-label="back" translate="button-back")
      md-button(ng-click="specificCtrl.next()" class="md-warn" aria-label="back" translate="button-next")
