div(layout="column" layout-align="space-between strech" layout-margin layout-wrap)  
  ivo-order-preview(order="specificCtrl", controller="'orderCtrl'")
  div(
    ng-model="specificCtrl.files"
    ng-change="specificCtrl.upload()"
    ngf-select
    ngf-drop
    ngf-multiple="true"
    ngf-keep="'distinct'"
    layout="column"
    layout-align="center center"
    )
    ivo-files(files="specificCtrl.files" remove="true")
  ivo-order-text(order="specificCtrl")  
  ivo-text-field(bind="specificCtrl.top.text")
  div(layout="row" layout-align="center center")
    md-button(ng-click="specificCtrl.back()" class="md-warn" aria-label="back" translate="button-back")
    md-button(ng-click="specificCtrl.next()" class="md-primary" aria-label="next" translate="button-next")
