div(
  ng-model="spesificCtrl.files"
  ngf-select
  ngf-drop
  ngf-multiple="true"
  ngf-keep="'distinct'"
  class="file-upload-container dashed-border"
  layout="column"
  layout-align="space-around center"
)
  div(translate="instruction-select")
  div(translate="instruction-drop")
  div(ng-if="spesificCtrl.files.length === 0" layout="column" layout-align="space-around center" class="dashed-border")
  div(ng-if="spesificCtrl.files.length > 0" class="dashed-border" layout="row" layout-align="space-between center" layout-wrap layout-padding)
    ivo-file(ng-repeat="file in spesificCtrl.files" name="file.name" ng-click="spesificCtrl.removeFile($event, $index)")
md-button(ng-click="pesificCtrl.view()" class="md-primary")
  
