md-dialog
  md-dialog-content(class="md-dialog-content")
    ivo-include(
      include="showDescriptionCtrl.adminPanel"
      controller="'showDescriptionCtrl'"
      template="true"
    )
    ivo-order-text(
      text="showDescriptionCtrl.info.text"
      label="'label-desctiption'"
      disabled="!showDescriptionCtrl.info.admin"
    )
    md-dialog-actions(layout="row" layout-align="center center")
      md-button(
        ng-click="showDescriptionCtrl.action($event)"
        class="md-primary"
        aria-label="action"
        md-autofocus="true"
        translate="{{'button-' + (showDescriptionCtrl.info.admin ? 'update' : 'ok')}}"
      )
