md-dialog
  md-dialog-content(class="md-dialog-content")
    ivo-include(
      include="showDescriptionCtrl.adminPanel"
      controller="'showDescriptionCtrl'"
      template="true"
    )
    ivo-order-text(
      flex="100"
      text="showDescriptionCtrl.text"
      label="'label-desctiption'"
      disabled="!showDescriptionCtrl.admin"
    )
    md-dialog-actions(layout="row" layout-align="center center")
      md-button(
        ng-click="showDescriptionCtrl.action()"
        class="md-primary"
        aria-label="action"
        md-autofocus="true"
        translate="{{'button-' + (showDescriptionCtrl.admin ? 'update' : 'ok')}}"
      )
